h2{
    text-align: center;
    margin: 20px 0;
}

.cart-item{
    display: flex;
    gap: 15px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);

}

.cart-item img{
    width: 80px;
    border-radius: 8px;
}

.info{
    flex: 1;
}

input{
    width: 60px;
    margin: 5px 0;
}

button{
    padding: 6px 10px;
    border: none;
    background: crimson;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.empty-cart {
  text-align: center;
  margin-top: 80px;
}